.posts {
  max-width: 1640px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.search-bar {
  width: 100%;
  padding: .5rem 1.25rem;
}

.fa-search {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.hide {
  display: none;
}